    body {    
      margin: 0 auto 7rem;
      font-family: 'Lato', 'Helvetica Neue', sans-serif;
    }  
    .corner-logo {
      position: absolute;
      top: 3rem;
      left: 2rem;
      display: none;
    }
    .corner-logo img {
      width: 40px;
    }
    header {
      margin-bottom: 2rem;
      background: #1ab282;
      color: white;
    }
    header h1 {
      font-size: 2rem;
      margin: 0 auto 0.5rem;
    }
    header h2 {
      font-size: 1.5rem;
      font-weight: 400;
      margin: 0 auto;
    }
    .index, header h1, header h2 {
      max-width: 900px;
      width: 70%;
    }
    .index {
      margin: 0 auto;
    }
    .all-alumni, .review-schedule {
      display: inline-block;
      vertical-align: top;
    }
    .all-alumni {
      width: 15%;
      margin-right: 4%;
      position: relative;
      top: 0.6rem;
    }
    .all-alumni p {
      margin-bottom: 0.25rem;
    }
    .all-alumni a {
      display: block;
      text-decoration: none;
      transition: color 0.2s;
    }
    .all-alumni a:hover {
      color: rgba(0,0,0,0.7);
    }
    .review-schedule {
      width: 80%;
    }
    p {
      margin: 0;
    }
    .to-review {
      padding-bottom: 0.5rem;
      margin-bottom: 1rem;
      border-bottom: 1px solid rgba(0,0,0,0.1);
    }
    .to-review:last-of-type {
      border-bottom: none;
    }
    .recommended {
      margin-bottom: 1rem;
      font-size: 1.5rem;
    }
    .primary-contact, .last-contact, .recommended, .all-alumni p, .all-alumni a {
      color: rgba(0,0,0,0.4);
    }
    .alum-container {
      padding-top: 2rem;
      margin-top: -2rem;
    }
    .alum {
      padding-top: 1rem;
      padding-left: 1.5rem;
      padding-right: 1rem;
      padding-bottom: 1.25rem;
      margin-bottom: 1rem;
      border: 1px solid rgba(0,0,0,0.1);
      border-radius: 6px;
    } 
    .reviewed .alum {
      border: 1px solid rgb(0,190,0);
    }
    .reviewed .name, .reviewed .primary-contact, .reviewed .last-contact {
      color: #1ab282;
    }
    .reviewed a.facebook, .reviewed a.instagram, .reviewed a.twitter {
      background: #1ab282;
    }
    .reviewed .review-btn {
      border: 1px solid #1ab282;
      color: #1ab282;
      cursor: initial;
      opacity: 1;
    }
    .reviewed .review-btn:hover {
      color: #1ab282;
      opacity: 1;
    }
    .alum main, .alum aside {
      display: inline-block;
      vertical-align: top;
    }
    .alum aside {
      float: right;
    }
    .review-btn {
      border: 1px solid;
      padding: 4px 8px;
      border-radius: 4px;
      position: relative;
      top: 0.3rem;
      text-decoration: none;
      color: rgba(0,0,0,0.7 );
      background: white;
      font-family: 'Lato', sans-serif;
      opacity: 0.5;
      cursor: pointer;
      font-weight: 700;
      font-size: 0.9rem;
    }
    .review-btn:hover {
      opacity: 1;
      color: rgba(0, 190, 0, 1);
    }
    p.name, .contact-btns {
      display: inline-block;
      vertical-align: middle;
    }
    p.name {
      font-size: 1.5rem;
      font-weight: 600;
      margin-right: 0.35rem;
    }
    .contact-btns a {
      text-decoration: none;
      color: white;
      padding: 4px 8px;
      border-radius: 4px;
      font-size: 0.9rem;
      opacity: 0.85;
      transition: opacity 0.2s;
    }
    .contact-btns a:hover {
      opacity: 1;
    }
    a.facebook {
      background: #3b5998;
    }
    a.instagram {
      background: linear-gradient(to bottom left,  #9B36B7, #F15245)
    }
    a.twitter {
      background: #1DA1F2;
    }
    a.snapchat {
      background: rgba(0, 255, 255, 1);
      color: black;
    }
    a.phone, a.email {
      background: rgba(0,0,0,0.1);
    }
    .primary-contact, .last-contact {
      clear: both;
    }
    .contact-line {
      margin-bottom: 0.25rem;
    }

    @media screen and (max-width: 768px) {
      .all-alumni {
        display: none;
      }
      .index, header h1, header h2 { 
        width: 90%;
      }
      header {
        padding-top: 2rem;
        padding-bottom: 2rem;
      }
      br {
        display: none;
      }
      .alum {
        padding: 1rem;
      }
      .review-schedule {
        width: 100%;
      }
      .alum main {
        width: 60%;
      }
      .contact-btns {
        line-height: 1.9;
      }
      .primary-contact {
        margin-bottom: 0.25rem;
      }   
    }
    @media screen and (min-width: 600px) and (max-width: 768px) {
      .name, .contact-btns {
        display: inline-block;
      }
    }
    @media screen and (max-width: 599px) {
      .name, .contact-btns {
        display: block;
      }
    }
    @media screen and (min-width: 769px) {
      header {
        padding-top: 3rem;
        padding-bottom: 3rem;
      }
      .index, header h1, header h2 { 
        width: 85%;
      }
      .all-alumni {
        min-width: 150px;
      }
      .review-schedule {
        width: 70%;
      }
      .name, .contact-btns {
        display: block;
      }
      .contact-btns {
        margin: 0.6rem 0;
      }
    }
    @media screen and (min-width: 900px) {
      .name, .contact-btns {
        display: inline-block;
      }
    }
